@model IEnumerable<OlympicsMedalStandings.Models.Country>
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@{ String Rank = "Rank"; }
                @Html.DisplayNameFor(model => Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumGoldMedal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumSilverMedal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumBronzeMedal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@{
    var ListTemp = new List<Country>(Model);
    var List = new List<Country>();
    var CountryTemp = new Country();
    int totalNumMedals, tempMaxNum = 0;
    int ListLength = Model.Count();

    for (int i = 0; i < ListLength; i++)
    {
        foreach (var item in ListTemp)
        {
            totalNumMedals = item.NumGoldMedal + item.NumSilverMedal + item.NumBronzeMedal;
            if (totalNumMedals > tempMaxNum)
            {
                tempMaxNum = totalNumMedals;
                CountryTemp = item;
            }
        }
        tempMaxNum = 0;
        List.Add(CountryTemp);
        ListTemp.Remove(CountryTemp);
    }
}
@{ int rankNum = 1; }
@foreach (var item in List)
{
        <tr>
            <td>
                @{
                    if (rankNum <= 3)
                    {
                        @Html.DisplayFor(modelItem => rankNum);
                    }
                    rankNum++;
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumGoldMedal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSilverMedal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumBronzeMedal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
